<form  [formGroup]="contact_form" style="margin: 20px 500px;">
  <ion-item lines="none">
    <ion-label  position="stacked" color="dark">First Name</ion-label>
    <ion-input type="text" placeholder="first name" formControlName="firstName"></ion-input>
  </ion-item>
  <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.firstName">
      <div class="error-message" *ngIf="contact_form.get('firstName').hasError(validation.type) && (contact_form.get('firstName').dirty || contact_form.get('firstName').touched)">
        {{ validation.message }}
      </div>
    </ng-container>
  </div>
  <ion-item lines="none">
    <ion-label  position="stacked" color="dark">Last Name</ion-label>
    <ion-input type="text" placeholder="last name" formControlName="lastName"></ion-input>
  </ion-item>
  <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.lastName">
      <div class="error-message" *ngIf="contact_form.get('lastName').hasError(validation.type) && (contact_form.get('lastName').dirty || contact_form.get('lastName').touched)">
        {{ validation.message }}
      </div>
    </ng-container>
  </div>

  <ion-button (click)="getContact()">
    submit
  </ion-button>
</form>
